.dropzone-container {
    padding: 80px;
}

.dropzone-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #76FF53;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.text-container {
    font-size: 28px;
    font-weight: 600;
    margin-top: 80px;
}